.Pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0 10px 0;

    .ui.pagination.menu {
        background-color: transparent;
        border: 0;
        box-shadow: none;

        .item {
            align-items: center;
            background-color: $primary-color;
            border-radius: 50% !important;
            color: $font-light;
            display: flex;
            justify-content: center;
            margin: 0 4px;

            &::before { 
                display: none;
            }

            &:focus {
                outline: none !important;
            }

            &:active {
                background-color: $border-grey-light;
                color: $font-light;
            }
        }
    }
}
