.BasicModal {
    & > &-header.header {
        align-content: center;
        background-color: $primary-color;
        display: flex;
        justify-content: space-between;
    }

    &-title, &-icon {
        color: $font-light;
    }

    & > &-header.header &-icon {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        font-size: 25px;
        margin: 0;

        &:hover {
            cursor: pointer;
        }
    }
}
